header {
    display: flex;
    align-items: center;
    padding: 20px 15px;
    color: var(--orange);
    background-color: var(--white);
}

header nav {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav ul {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 40px;
}

.header_nav_icon {
    display: none;
}

header nav ul li a {
    cursor: default;
    padding: 6px;
    border-radius: 5px;
}

header nav ul li a:not(.header_active_link):hover {
    cursor: pointer;
    color: var(--black);
}

.header_active_link {
    color: var(--white);
    background-color: #000;
}

.header_active_link:hover {
    cursor: default;
}

.header_cart_items_num {
    margin-left: 5px;
    padding: 0 5px;
    color: var(--white);
    background-color: var(--orange);
    border-radius: 5px;
}

.header_nav_icon {
    display: none;
}

.header_nav_icon li {
    border-radius: 5px;
}

.header_nav_icon li:first-child {
    background-color: var(--black);
    padding: 10px 15px;
}

.header_nav_icon li:nth-child(2) a {
    padding: 10px;
    border: 1px solid var(--orange);
}

@media screen and (max-width: 1080px) {
    header {
        width: 100%;
    }

    .header_nav_icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .header_nav_call_us,
    .header_cart {
        display: none;
    }

    header nav ul:not(:first-of-type):not(.header_cart) {
        display: none;
    }

    .header_opened_menu_nav ul:not(:first-of-type):not(.header_nav_call_us) {
        display: flex;
    }

    header nav,
    header nav ul {
        flex-direction: column;
        align-items: start;
        gap: 8px;

    }

    header nav ul,
    header nav ul:not(.header_nav_icon) li {
        width: 100%;
    }

    header nav ul li {
        display: flex;
    }

    header nav ul li a {
        flex-grow: 1;
    }
}

@media screen and (max-width: 600px) {
    header nav ul {
        font-size: 0.9rem;
    }
}