header {
    display: flex;
    align-items: center;
    padding: 20px 15px;
    color: var(--orange);
    background-color: var(--white);
}

header nav {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav ul {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 40px;
}

.header_nav_icon {
    display: none;
}

header nav ul li a {
    cursor: default;
    padding: 6px;
    border-radius: 5px;
}

header nav ul li a:not(.header_active_link):hover {
    cursor: pointer;
    color: var(--black);
}

.header_active_link {
    color: var(--white);
    background-color: #000;
}

.header_active_link:hover {
    cursor: default;
}

.header_cart_items_num {
    margin-left: 5px;
    padding: 0 5px;
    color: var(--white);
    background-color: var(--orange);
    border-radius: 5px;
}

.header_nav_icon {
    display: none;
    padding: 15px 20px;
    background-color: #000;
    border-radius: 5px;
}

@media screen and (max-width: 1080px) {
    header {
        width: 100%;
    }

    .header_nav_icon {
        display: block;
    }

    .header_nav_call_us {
        display: none;
    }

    header nav ul:not(:first-of-type) {
        display: none;
    }

    .header_opened_menu_nav ul:not(:first-of-type):not(.header_nav_call_us) {
        display: flex;
    }

    header nav,
    header nav ul {
        flex-direction: column;
        align-items: start;
    }

    header nav,
    header nav ul {
        gap: 8px;
    }

    header nav ul:not(.header_nav_icon),
    header nav ul li {
        width: 100%;
    }

    header nav ul li {
        display: flex;
    }

    header nav ul li a {
        flex-grow: 1;
    }

    .header_nav_icon li {
        padding: 8px 0;
    }
}