.details_section {
    width: 100%;
    float: left;
    height: auto;
    text-align: center;
    background-color: #fabc26;
}

.item-details {
    width: 1000px;
    min-height: 425px;
    padding: 30px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border: 1px solid black;
    background-color: #ffff;
}

.item-details-img img{
    float: left;
    width: 50%;
    height: 300px;
}

.item-details-more-info {
    float: left;
    width: 50%;
    height: auto;
    padding-left: 50px;
    text-align: left;
}

.item-details-more-info p {
    margin: 10px auto;
}

.item-details-more-info p:first-child {
    margin-top: 0px;
    font-weight: bold;
    font-size: 30px;
    color: #fabc26;
}

.item-details-more-info p:nth-child(2) {
    font-weight: bold;
}

.item-details-description {
    margin-left: 15px;
}

.item-details-description li{
    list-style-type: circle;
}

.item-details-button {
    float: left;
    width: 100%;
    height: 100px;
    margin-top: 20px;
}

.item-details-button button {
    width: 150px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;
    color: #fff;
    background-color: #fabc26;
    text-transform: uppercase;
}

.item-details-button button:hover {
    background-color: black;
}