.light_details_container {
    position: relative;
    flex-grow: 1;
    padding: 30px 60px;
    background-color: var(--orange);
    justify-items: center;
}

.light_details_wrapper {
    width: 1050px;
    padding: 15px;
    background-color: var(--white);
    box-shadow: 0 1px 3px var(--black);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section_light_description {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.light_details_img img {
    width: 500px;
    height: 350px;
    border-radius: 5px;
}

.light_details_description {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    gap: 15px
}

.light_details_description h4 {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--orange);
}

.light_details_description p:first-of-type {
    font-size: 1.2rem;
    font-weight: 600;
}

.light_details_description_list {
    flex-grow: 1;
    padding-top: 10px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.light_details_description_list li {
    list-style-type: disc;
}

.light_details_notes {
    padding: 5px;
    border: 2px solid var(--black);
    border-radius: 5px;
}

.light_details_notes span {
    font-weight: 600;
}

.light_details_buttons {
    display: flex;
    align-self: center;
    gap: 20px;
}

.light_details_buttons button,
.light_details_buttons p {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--orange);
    border: none;
    border-radius: 5px;
}

.light_details_buttons button {
    width: 130px;
    height: 50px;
}

.light_details_buttons button:hover {
    cursor: pointer;
    background-color: var(--black);
}

.light_details_buttons p {
    padding: 20px 40px;
}

.light_delete_msg_container {
    position: fixed;
    z-index: 1;
    padding: 100px 50px 50px 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.97);
}

.light_delete_msg_wrapper {
    width: fit-content;
    margin: auto;
    padding: 30px;
    background-color: var(--white);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.light_delete_msg_question p {
    width: fit-content;
    margin: auto;
    padding: 20px;
    font-size: 1.5rem;
    letter-spacing: 2px;
    line-height: normal;
}

.light_delete_msg_buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.light_delete_msg_buttons button{
    width: 200px;
    padding: 10px;
    letter-spacing: 2px;
}