.our_lights_container {
    padding: 30px 60px;
    background-color: var(--orange);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.our_lights_container>h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: var(--white);
}

.our_lights_wrapper {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.our_lights_wrapper>section {
    position: relative;
    flex: 0 0 calc(50% - 30px);
}

.our_lights_wrapper figure {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.our_lights_wrapper figure figcaption {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.our_lights_wrapper figure img {
    width: 100%;
    border-radius: 5px;
}

@media screen and (max-width: 1080px) {
    .our_lights_wrapper {
        flex-direction: column;
    }
}