/* Create light paragraph */
.create_light_paragraph_container {
    margin: 5px auto;
    display: flex;
}

.create_light_paragraph_container a {
    padding: 10px 15px;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--black);
    border-radius: 5px;
}

.create_light_paragraph_container a:hover {
    background-color: var(--orange);
}

/* Create light form */
.create_light_form_wrapper {
    flex-grow: 1;
    padding-bottom: 30px;
    align-content: center;
}

.create_light_form {
    width: 700px;
    margin: auto;
    padding: 20px;
    background-color: var(--orange);
    box-shadow: 0 1px 3px var(--black);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.create_light_form section {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--white);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.create_light_form_row {
    display: flex;
    gap: 30px;
    align-items: center;
}

.create_light_form label {
    height: 30px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.create_light_form input,
.create_light_form select,
.create_light_form textarea {
    flex-grow: 1;
    min-height: 100%;
    max-height: 100%;
    padding: 5px;
    border: 1.5px solid var(--black);
    border-radius: 5px;
}

.create_light_name {
    flex-grow: 2;
}

.create_light_date {
    flex-grow: 1;
}

.create_light_date input,
.create_light_bulb_option select {
    text-align: center;
}

.create_light_price,
.create_light_qty {
    flex-grow: 1;
}

.create_light_adjustable_height,
.create_light_integrated_led {
    font-weight: 600;
    align-self: center;
}

.create_light_adjustable_height span,
.create_light_integrated_led span {
    text-decoration: underline;
}

.create_light_dimesions label,
.create_light_led_option label,
.create_light_bulb_option label {
    flex-grow: 1;
    font-size: 0.85rem;
}


.create_light_dimesions input,
.create_light_led_option input {
    width: 100%;
}

.create_light_dimesions_unit_required p,
.create_light_all_fields_alert {
    font-size: 0.8rem;
    color: var(--white);
    display: flex;
    flex-grow: 1;
    justify-content: right;
}

.create_light_notes {
    min-height: 70px;
}

.create_light_upload_img input {
    border: none;
}

.create_light_form button {
    margin: auto;
    padding: 10px;
    width: 40%;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--black);
    border-radius: 5px;
    border: none;
}

.create_light_form button:hover {
    cursor: pointer;
    color: var(--orange);
    background-color: var(--white);
}

.create_light_error {
    color: var(--red_error);
}

.create_light_error input,
.create_light_error select,
.create_light_error textarea {
    border-color: var(--red_error);
}

@media screen and (max-width: 750px) {
    .create_light_form_wrapper {
        padding: 0 15px 15px;
    }

    .create_light_form {
        width: 100%;
    }

    .create_light_form_row:not(.create_light_adjustable_height):not(.create_light_integrated_led) {
        flex-direction: column;
    }

    .create_light_form label:not(.create_light_adjustable_height label):not(.create_light_integrated_led label) {
        width: 90%;
    }

    .create_light_form input,
    .create_light_form select {
        flex-grow: 0;
        width: 60%;
    }

    .create_light_notes,
    .create_light_upload_img {
        align-self: center;
    }

    .create_light_form label.create_light_upload_img {
        justify-content: flex-start;
    }

    

    .create_light_dimesions_unit_required {
        align-items: end;
    }
}

@media screen and (max-width: 450px) {
    .create_light_form {
        font-size: 0.9rem;
    }

    .create_light_form label {
        gap: 5px;
    }

    .create_light_form input,
    .create_light_form select {
        width: 50%;
    }

    .create_light_form label.create_light_upload_img input {
        width: 90%;
    }

    .create_light_form button {
        width: 80%;
    }
}