.lights_page_container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lights_page_container.commercial_pages {
    justify-content: space-between;
}

.lights_page_container h1 {
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    color: var(--black);
    background-color: var(--orange);
}

.lights_filter_wrapper {
    padding: 30px;
    display: flex;
    gap: 30px;
}

.all_lights_container {
    flex-grow: 1;
    align-content: space-evenly
}

.all_lights_wrapper {
    margin: auto;
    padding-bottom: 15px;
    max-width: 930px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.cart_container_lights_left .all_lights_wrapper {
    justify-content: left;
}

.no_lights_available {
    text-align: center;
}

@media screen and (min-width: 1080px) and (max-width: 1249px) {
    .all_lights_wrapper {
        max-width: 690px;
    }
}